name: Node.js CI

on:
  push:
    branches: [ "main", "clean-main" ]
  pull_request:
    branches: [ "main", "clean-main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: node tests/tier1-test.js
    - run: node tests/tier2-test.js
    - run: node tests/tier3-test.js
    - run: node tests/tier4-test.js
